@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-BoldItalic.woff2") format("woff2"),
		url("/fonts/NewKansas-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-Black.woff2") format("woff2"),
		url("/fonts/NewKansas-Black.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-BlackItalic.woff2") format("woff2"),
		url("/fonts/NewKansas-BlackItalic.woff") format("woff");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-LightItalic.woff2") format("woff2"),
		url("/fonts/NewKansas-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-Bold.woff2") format("woff2"),
		url("/fonts/NewKansas-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-Heavy.woff2") format("woff2"),
		url("/fonts/NewKansas-Heavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-Medium.woff2") format("woff2"),
		url("/fonts/NewKansas-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-MediumItalic.woff2") format("woff2"),
		url("/fonts/NewKansas-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-Light.woff2") format("woff2"),
		url("/fonts/NewKansas-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-Regular.woff2") format("woff2"),
		url("/fonts/NewKansas-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-RegularItalic.woff2") format("woff2"),
		url("/fonts/NewKansas-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/NewKansas-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-Thin.woff2") format("woff2"),
		url("/fonts/NewKansas-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-ThinItalic.woff2") format("woff2"),
		url("/fonts/NewKansas-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "New Kansas";
	src: url("/fonts/NewKansas-SemiBold.woff2") format("woff2"),
		url("/fonts/NewKansas-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
